body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

.hero {
    padding: 90px 20px 40px;
}

h1 {
    font-size: 48px;
    margin-bottom: 25px;
}

h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

p {
    font-size: 20px;
}

.button {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 24px;
    background: white;
    color: #111;
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
}

    .button:hover {
        background: #dddddd;
    }

.services,
.info,
.trust,
.payment,
.contact {
    padding: 50px 20px;
}

.services-list,
.info-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card,
.info-card {
    background: #1c1c1c;
    width: 260px;
    padding: 24px;
    border-radius: 16px;
}

    .card h3,
    .info-card h3 {
        margin-top: 0;
    }

    .card p,
    .info-card p {
        font-size: 17px;
    }

.trust,
.payment {
    max-width: 800px;
    margin: 0 auto;
}

    .trust p,
    .payment p {
        font-size: 18px;
    }

.telegram {
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

    .telegram:hover {
        text-decoration: underline;
    }
